* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../fotosmenu/body.avif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  margin-bottom: 3rem;
  width: 100vw;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 16rem;
  padding-bottom: 2rem;
}
header img {
  width: 500px;
}
header a {
  color: black;
  text-decoration: none;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

li {
  display: inline-block;
  background-color: transparent;
  font-size: 1.5rem;
  color: black;
  padding: 10px 15px;
}

a:hover {
  color: aqua !important;
}

main {
  margin: 2.5rem 0 !important;
  border-top: 1px solid black;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

menu .section {
  width: 60%;
}
menu .aside {
  width: 40%;
}

.parrafo1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  padding: 30px 150px 10px 40px;
}

.fotoIso {
  padding-top: 10px;
  width: 300px;
  padding-left: 44px;
}

.img1 {
  width: 50%;
  margin-left: 3rem;
  border-radius: 2px;
}

.h2a {
  padding-top: 100px;
  padding-left: 44px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img2 {
  width: 70%;
  padding: 10px 60px 10px 45px;
}

.parrafo2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  padding: 30px 150px 10px 40px;
}

@media (max-width: 1100px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100% !important;
  }
  .aside {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100% !important;
  }
}
@media (max-width: 850px) {
  .menu2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}
@media (max-width: 991px) {
  .navbar {
    position: sticky;
  }
  .navbar-nav {
    background-color: white;
  }
}
footer {
  width: 100%;
  height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
  bottom: 0;
}

.contenedor {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contenedor a {
  font-size: 30px;
}

.facebook {
  color: blue;
}

.whatsapp {
  color: green;
}

.instagram {
  color: pink;
}

.menu2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
.menu2 mapa {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 700px;
  max-width: 100%;
}
.menu2 formulario {
  flex-direction: column;
  display: flex;
  align-items: center;
  height: 100%;
  width: 600px;
}

.mapa parrafo3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px solid;
}
.mapa gMapa {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70%;
}
.mapa dataMapa {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 600px;
}

.formulario label {
  font-weight: bold;
}
.formulario h1 {
  margin-bottom: 1rem;
}
.formulario h2 {
  margin-bottom: 1rem;
}

/*# sourceMappingURL=estilo.css.map */
