.menuServicios {

    .bannerFisica {
        background:linear-gradient(#2980b9,#2c3e50);
        width: 100%;
        margin-bottom: 2rem;
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        }
    .tituloSer {
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    .cajaUno {
        padding: 0 210px;
        width: 100vw;
        .textoRojo { 
            color:black;
        }
    }
    .cajaDos {
        width: 100vw;
        padding: 0 210px;
    }
    .cajaTres {
        width: 100vw;
        display: flex;
        flex-wrap: nowrap;
        gap: 2rem;
        padding: 0 210px;

        ul {
            gap: 2rem;
            display: flex;
            flex-direction: column;

          
            li{
                font-size: 18px;
            }
        }
    }
    .bannerElectronica {
        background:linear-gradient(#2980b9,#2c3e50);
        height: 100%;
        margin-bottom: 2rem;
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .titDos {
        color: white;
        display: flex;
        align-items: center;
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cajaCuatro {
        padding: 0 210px;
        width: 100vw;
        .listaElectro {
            display: flex;
            flex-direction: column;
        }
        li {
            font-size: 16px;
        }

    }
    .bannerEvento{
        background:linear-gradient(#2980b9,#2c3e50);
        height: 160px;
        margin-bottom: 2rem;
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .titTres {
        color: white;
        display: flex;
        align-items: center;
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .cajaCinco {
        padding: 0 210px;
        width: 100vw;
    }
    .cajaSeis {
        padding: 0 210px;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
       
    }
    .fotoEvento {
        max-width: 85%;
        
        border: solid black 2px;
    }

}