.menuBeneficios {

    .bannerBeneficios {
        background:linear-gradient(#2980b9,#2c3e50);
        height: 100%;
        margin-bottom: 2rem;
    }
    .tit1 {
        color: white;
        display: flex;
        align-items: center;
        padding-top: 60px;
        padding-left: 210px;
    }
    .cajaSiete {
        padding: 0px 210px;
        width: 100%;
      
    }
    .bannerBenPar {
        background:linear-gradient(#2980b9,#2c3e50);
        height: 100%;
        margin-bottom: 2rem;
    }
    .cajaOcho {
        padding:0 210px;
        width: 100%;
    }
}   