.menuClientes {
    width: 100%;
    .bannerCliente {
        background:linear-gradient(#2980b9,#2c3e50);
        width: 100vw;
        margin-bottom: 2rem;
        }
    .tituloCli{
        color: white;
        display: flex;
        align-items: center;
        padding-top: 60px;
        padding-left: 210px;
    }
    .cajaNueve {
        padding: 0 210px;
    
    }
    .columnas {
        flex: 25%;
        padding: 25px;
    }
    .columnas img {
        margin-top: 25px;
        margin-left: 25px;
        
    }
    .caja10 {
        padding: 0 210px;
        box-sizing: border-box;
        h4 {
            text-align: center;
        }
    }
}