*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../fotosmenu/body.avif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    margin-bottom: 3rem;
    width: 100vw;

}
