.parrafo1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	padding: 30px 150px 10px 40px;
}
.fotoIso {
	padding-top: 10px;
	width: 300px;
	padding-left: 44px;
}
.img1 {
	width: 50%;
	margin-left: 3rem;
	border-radius: 2px;
}
